alembic==1.0.8
amqp==2.4.2
aniso8601==1.1.0
asn1crypto==0.24.0
atsd-client==2.0.12
azure-common==1.1.18
azure-nspkg==2.0.0
azure-storage==0.36.0
billiard==3.5.0.5
blinker==1.3
boto==2.49.0
boto3==1.9.85
botocore==1.12.85
cassandra-driver==3.11.0
celery==4.2.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
chromelogger==0.4.3
click==6.6
coverage==4.0.3
cryptography==2.0.2
decorator==4.4.0
defusedxml==0.5.0
disposable-email-domains==0.0.47
dnspython==1.16.0
docutils==0.14
dql==0.5.24
dynamo3==0.4.7
enum==0.4.7
enum34==1.1.6
Flask==0.11.1
Flask-Limiter==0.9.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.1
Flask-OAuthlib==0.9.5
Flask-RESTful==0.3.5
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
funcsigs==1.0.2
funcy==1.7.1
future==0.17.1
futures==3.2.0
gevent==1.4.0
google-api-python-client==1.5.1
greenlet==0.4.15
gspread==0.6.2
gunicorn==19.7.1
httplib2==0.10.3
ibm-db==3.0.1
idna==2.8
ijson==2.3
impyla==0.10.0
inflection==0.3.1
influxdb==2.7.1
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.4
jsonpickle==1.1
jsonschema==2.4.0
kombu==4.2.2.post1
limits==1.3
Mako==1.0.8
MarkupSafe==0.23
memsql==2.16.0
mock==2.0.0
monotonic==1.5
msgpack-python==0.4.8
MySQL-python==1.2.5
numpy==1.16.2
oauth2client==3.0.0
oauthlib==2.1.0
pandas==0.24.2
parsedatetime==2.1
passlib==1.6.2
pbr==5.1.3
psycopg2==2.7.3.2
ptvsd==4.2.3
py==1.8.0
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyAthena==1.5.1
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.8.0
pydruid==0.4.0
PyHive==0.5.1
PyJWT==1.6.4
pymapd==0.7.1
pymongo==3.6.1
pymssql==2.1.3
pyOpenSSL==16.2.0
pyparsing==2.1.4
pypd==1.1.0
pysaml2==4.5.0
pystache==0.5.4
pytest==3.2.3
pytest-cov==2.5.1
python-dateutil==2.7.5
python-editor==1.0.4
python-geoip==1.2
python-geoip-geolite2==2015.303
pytz==2016.7
PyYAML==3.12
qds-sdk==1.11.0
redis==3.0.1
requests==2.21.0
requests-aws-sign==0.1.4
requests-oauthlib==1.1.0
RestrictedPython==3.6.0
rsa==4.0
s3transfer==0.1.13
sasl==0.2.1
semver==2.2.1
sentry-sdk==0.7.2
simple-salesforce==0.72.2
simplejson==3.10.0
six==1.11.0
snowflake-connector-python==1.6.10
SQLAlchemy==1.2.12
SQLAlchemy-Searchable==0.10.6
SQLAlchemy-Utils==0.33.11
sqlparse==0.2.4
statsd==2.1.2
td-client==0.8.0
tenacity==5.0.3
thrift==0.11.0
thrift-sasl==0.3.0
ua-parser==0.7.3
uritemplate==0.6
urllib3==1.24.1
user-agents==1.1.0
validators==0.12.4
vertica-python==0.8.0
vine==1.3.0
Werkzeug==0.11.11
Wraptor==0.7.0
WTForms==2.2.1
XlsxWriter==0.9.3
